{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            <h1 class="site-title">{{title}}</h1>
            <h2 class="site-description"><a href="http://twitter.com/reciam">@reciam</a></h2>
        </div>
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="featured-page">
            <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

                <!-- <header class="post-full-header">
                    <h1 class="post-full-title">{{title}}</h1>
                </header> -->

                <section class="post-full-content">
                    {{content}}
                </section>

            </article>
        </div>
    </div>
</main>

{{/post}}
